.add-form-container {
  margin-top: 58px;
  margin-left: 199px;
  padding: 10px 50px;
  padding-bottom: 48px;

}

.input-field {
  border-radius: 4px;
}

.margin-input-group {
  margin-bottom: 12px;
}

.margin-departure {
  margin-right: 70px;
}

.margin-departure-station {
  margin-right: 20px;
}

.margin-departure-hour {
  margin-right: 34px;
}

.margin-arrival {
  margin-right: 90px;
}

.margin-arrival-station {
  margin-right: 39px;
}
.margin-arrival-hour {
  margin-right: 53px;
}

.margin-date {
  margin-right: 101px;
}

.margin-distance {
  margin-right: 71px;
}

.margin-price {
  margin-right: 95px;
}

.margin-bus {
  margin-right: 84px;
}

.margin-bus-id {
  margin-right: 75px;
}

.margin-seats {
  margin-right: 10px;
}

.border-radius {
  border-radius: 4px;
  height: 31px;
  padding: 4px;
}

.dropdown-menu {
  top: 145px!important;
  font-size: 13px!important;
}

.line-separator {
   border-top: 1px solid black;
   margin-top: 15px;
   margin-bottom: 34px;
 }

.line-separator-bus-up {
   border-top: 1px solid black;
   margin-top: 15px;
   margin-bottom: 30px;
}

.line-separator-bus-down {
   border-top: 1px solid black;
   margin-top: 270px;
}

.message-for-error {
  color: #ad1313;
  font-style: italic;
}

input[type=submit] {
  background-color: #252020;
  border: none;
  color: white;
  padding: 6px 37px;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 8px;
  margin-top: 28px;
  margin-left: 35px;
}

.admin-dashboard-menu {
    position: fixed;
    top: 55px;
    padding: 0 17px;
    background: black;
}

ul {
   list-style :none;
}

.admin-dashboard-menu-item {
   line-height: 150px;
   vertical-align: middle;
}

.admin-dashboard-menu-item a {
   position: relative;
   font-size: 15px;
   font-weight: bold;
   color: #f5f5f5;
   text-decoration: none;
   display: inline-block;
}

.admin-dashboard-menu-item a:hover {
   color: #767676;
   text-decoration: none;
}

#admin-border {
   border: 2px solid white;
   padding: 15px;
   border-radius: 10px;
   background: black;
   text-align: center;
   color: white;
   font-weight: bold;
   margin-bottom: 53px;
}

.options-container {
   margin-top: 109px;
   margin-left: 258px;
   width: 60%;
   padding-bottom: 72px;
   background: #f1eded;
}

.options-link {
  color: black;
  text-decoration: none;
}

.options {
  margin-left: 129px;
}

.option {
  margin-bottom: 50px;
}

.margin-input-group-bus {
  margin-bottom: 18px;
}

.notify {
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  width: 80%;
  border-color: #9a8787;
  color: #297928;
  background-color: #d6ffc8;
}

td, th {
  padding: 11px 39px;
}

tbody {
  font-size: 15px;
}

.all-buses-container {
  margin-top: 48px;
  margin-left: 181px;
  padding: 10px 50px;
  padding-bottom: 48px;

}

#edit-border {
   border: 2px solid black;
   padding: 7px 30px;
   border-radius: 10px;
   background: black;
   width: 13%;
   margin: auto;
   text-align: center;
   color: white;
   text-decoration: none;
}

#edit-border-route {
   border: 2px solid black;
   padding: 5px 28px;
   border-radius: 10px;
   background: black;
   width: 13%;
   margin: auto;
   text-align: center;
   color: white;
   text-decoration: none;
}

#delete-border {
   border: 2px solid green;
   padding: 7px 20px;
   border-radius: 10px;
   background: green;
   width: 13%;
   margin: auto;
   text-align: center;
   color: white;
   text-decoration: none;
}

#delete-border-route {
   border: 2px solid green;
   padding: 5px 18px;
   border-radius: 10px;
   background: green;
   width: 13%;
   margin: auto;
   text-align: center;
   color: white;
   text-decoration: none;
}

.table-padding {
   padding: 11px 13px;
   font-size: 14px;
}

.edit-delete {
   padding: 11px 3px;
   font-size: 14px;
}

.routes-container {
  margin-left: 165px;
  margin-top: 82px;
}

.line-separator-route {
  border-top: 1px solid black;
  margin-bottom: 16px;
}

.title-container {
  padding: 0 11px;
}

.case-empty {
  margin-top: 151px;
  margin-left: 283px;
  padding: 10px;
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  border-color: #9a8787;
  color: #297928;
  background-color: #d6ffc8;
  width: 60%;
}

#cancel-border {
  border: 2px solid #b6c735;
  padding: 6px 33px;
  border-radius: 8px;
  background: #b6c735;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-left: 58px;
}

.buttons {
  margin-top: 36px;
}

.routes-sep {
  margin: 16px 11px;
}

.buses-sep {
 border-top: 1px solid black;
 margin-top: 30px;
}