
.road-background {
   background-image: url("road.jpg");
}

.footer-background {
   background-image: url("brasov.jpg");
}

#search-border {
   border: 2px solid white;
   padding: 45px;
   border-radius: 14px;
   background: white;
   width: 60%;
   margin: auto;
   text-align: center;
}

.search-container {
   margin-top: 370px;
   margin-bottom: 15px;
}