.tickets-container {
  margin-top: 25px;
}

.ticket-container {
  background: #f7f7f7;
  padding: 15px;
  margin-bottom: 20px;
}

#total-item-border {
   border: 2px solid white;
   padding: 27px;
   border-radius: 10px;
   background: #53d453;
   width: 13%;
   margin: auto;
   text-align: center;
   padding-top: 7px;
   padding-bottom: 7px;
   color: white;
}

.total-container {
   margin-top: 22px;
   margin-left: 45px;
}

.total-item {
   font-weight: bold;
   font-size: 16px;
}

.margin-items {
   margin-bottom: 7px;
}

.case-empty-message {
  color: #c34141;
  font-size: 17px;
  margin-top: 37px;
  font-style: italic;
}