<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"  th:href="@{/css/style.css}" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>

  <div th:insert="home-page.html :: navigation"> </div>

  <div>
      <form action="#" th:action="@{/buy}" th:object="${busRoute}" method="post">

          <div th:text="${busRoute.getDeparture()}" > </div>
          <div th:text="${busRoute.getDepartureStation()}" > </div>
          <div th:text="${busRoute.getDepartureTime()}" > </div>

          <div th:text="${busRoute.getArrivalStation()}" > </div>
          <div th:text="${busRoute.getArrivalTime()}"> </div>
          <div th:text="${busRoute.getDepartureDate()}"> </div>
          <div th:text="${busRoute.getDistance()}"> </div>

          <input type="hidden" th:field="*{id}" >
          <input type="hidden" th:field="*{departure}" >
          <input type="hidden" th:field="*{departureStation}" >
          <input type="hidden" th:field="*{departureTime}" >
          <input type="hidden" th:field="*{arrival}" >
          <input type="hidden" th:field="*{arrivalStation}" >
          <input type="hidden" th:field="*{arrivalTime}" >
          <input type="hidden" th:field="*{departureDate}" >
          <input type="hidden" th:field="*{distance}" >
          <input type="hidden" th:field="*{price}" >
          <input type="hidden" th:field="*{numberOfAvailableTickets}" >

          <div th:object="${ticketDetails}">

              <label for="quantity" class="control-label">Cantitate</label>
              <input id="quantity" class="form-control" th:field="*{quantity}" />
              <p th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}" style="color:Red;"></p>
          </div>

          <input type="submit" name="Buy Ticket" value="Cumpara" >
      </form>

  </div>

</body>
</html>