<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Selected Route</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/order.css}">
    <link href="https://www.w3schools.com/w3css/3/w3.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>


<body>

<div th:insert="home-page.html :: navigation"></div>
<div>.</div>

<div class="order-details">
    <div th:if="${param.success}">
        <div class="notify notify-info">Ticket has been succsessfully added!</div>
    </div>
    <form action="#" method="post" th:action="@{/buy}" th:object="${busRoute}">
        <div class="your-order-title">Your Order</div>
        <div>
            <div class="date-time-details">
                <a th:text="${busRoute.getDepartureDate()}"></a>
                <a>,</a>
                <a th:text="${busRoute.getDepartureTime()}"></a>
                <a>-</a>
                <a th:text="${busRoute.getArrivalTime()}"></a>
            </div>

            <div class="departure-arrival-details">
                <div>
                    <div class="margin-right-icon icon-detail fas fa-map-marker-alt">
                        <a class="icon-text">Departure</a>
                    </div>

                    <a th:text="${busRoute.getDeparture()}"></a>
                    <a>-</a>
                    <a th:text="${busRoute.getDepartureStation()}"></a>
                </div>
                <div>
                    <div class=" icon-detail fas fa-map-marker-alt">
                        <a class="icon-text">Arrival</a>
                    </div>
                    <a th:text="${busRoute.getArrival()}"></a>
                    <a>-</a>
                    <a th:text="${busRoute.getArrivalStation()}"></a>
                </div>
            </div>
            <div class="price-distance-details">
                <div>
                    <a class="font-bold">Price</a>
                    <a th:text="${busRoute.getPrice()}"></a>
                    <i class="price-width fas fa-euro-sign"></i>
                </div>
                <div>
                    <a class="font-bold">Distance</a>
                    <a th:text="${busRoute.getDistance()}"></a>
                    <a> km</a>
                </div>
            </div>
        </div>

        <input th:field="*{id}" type="hidden">
        <input th:field="*{departure}" type="hidden">
        <input th:field="*{departureStation}" type="hidden">
        <input th:field="*{departureTime}" type="hidden">
        <input th:field="*{arrival}" type="hidden">
        <input th:field="*{arrivalStation}" type="hidden">
        <input th:field="*{arrivalTime}" type="hidden">
        <input th:field="*{departureDate}" type="hidden">
        <input th:field="*{distance}" type="hidden">
        <input th:field="*{price}" type="hidden">
        <input th:field="*{numberOfAvailableTickets}" type="hidden">

        <div th:object="${ticketDetails}">

            <div class="divider"></div>
            <div class="margin-final margin-quantity-details">
                <label for="quantity">Enter the number of tickets:</label>
                <input class="quantity" id="quantity" th:field="*{quantity}"/>
                <p class="advert-message" th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}"></p>
            </div>
        </div>

        <input class="margin-final"name="Buy Ticket" type="submit" value="Buy">

    </form>
</div>


</body>
</html>