<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Company</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/company.css}">
    <link href="https://www.w3schools.com/w3css/3/w3.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
<div th:insert="home-page.html :: navigation"></div>
<div class="company-container">
    <div class="picture-header"></div>
</div>

<div class="subtitle">
    <a class="font">About Us</a>
    <div class="separator"></div>
    <div>In 2015, Transdor began expanding internationally with long-distance networks in France, Italy, Denmark, the Netherlands and Croatia, as well as cross-border regular services to Norway, Spain and England. Today, passengers from around the world can benefit from Europe’s largest long-distance bus service as well as new intermodal travel options. An international team of 3,000 employees in Munich, Berlin and international offices in Europe and the US – as well as thousands of our partners’ bus drivers and train operators – stand behind the green mobility provider. Each of these individuals contribute to making Transdor Europe’s leading mobility provider, every day. Do you have the drive and spirit to help us build the best mobility brand in Europe and beyond? Visit our jobs page; we would love to hear from you.</div>
</div>

<div class="subtitle">
    <a class="font">Safety</a>
    <div class="separator"></div>
    <div>Buses are the safest mode of transport on the road. Traveling by bus is the safest way to travel on Europe’s roads, according to the Statistical Federal Office. With Transdor you will always arrive to your destination safely as safety on board each of our buses is our main priority. For us, safety comes first: Our green buses meet highest standards of safety and our drivers are trained using the latest methods. Choose your desired bus travel from our extensive European route network and experience traveling through Europe by the safest means of transport today. Our route network will give you an overview of our bus routes across Europe.

    </div>
</div>

<div class="subtitle">
    <a class="font">Contact Us</a>
    <div class="separator"></div>
</div>


</body>
</html>