<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company's buses</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div th:insert="home-page.html :: navigation"></div>

<div class="admin-dashboard-menu">

    <div class="admin-dashboard-menu-item">
        <a class="admin-dashboard-menu-item-user" th:href="@{/addRoute}"> Add new routes</a>
    </div>
    <div class="admin-dashboard-menu-item">
        <a class="admin-dashboard-menu-item-cart" th:href="@{/editOrDelete}">Edit/delete routes</a>
    </div>
    <div class="admin-dashboard-menu-item">
        <a class="admin-dashboard-menu-item-cart" th:href="@{/addBus}">Add new buses</a>
    </div>
    <div class="admin-dashboard-menu-item">
        <a class="admin-dashboard-menu-item-cart" th:href="@{/editOrDeleteBus}">Edit/delete buses</a>
    </div>

</div>

<div class="all-buses-container" th:switch="${buses.size()}">

    <h2 class="case-empty" th:case="'0'">No available buses!</h2>
    <div th:case="*">
        <h4 class="font-weight-bold">Transdor's buses</h4>
        <div class="line-separator-bus-up"></div>
        <table>
            <thead>
            <tr>
                <th>Bus Id</th>
                <th>Number of seats</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bus:${buses}">
                <td th:text="${bus.getId()}"></td>
                <td th:text="${bus.getNumberOfSeats()}"></td>
                <td ><a id="edit-border" th:href="@{/editBus/{id}(id=${bus.id})}">Edit</a></td>
                <td><a id="delete-border" th:href="@{/deleteBus/{id}(id=${bus.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <div class="buses-sep"></div>
    </div>

</div>
</body>