<!DOCTYPE html >
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Company's routes</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>
<div th:insert="home-page.html :: navigation"></div>

<div class="admin-dashboard-menu">
    <div class="admin-dashboard-menu-item">
        <a class="admin-dashboard-menu-item-user" th:href="@{/addRoute}"> Add new routes</a>
    </div>
    <div class="admin-dashboard-menu-item">
        <a class="admin-dashboard-menu-item-cart" th:href="@{/editOrDelete}">Edit/delete routes</a>
    </div>
    <div class="admin-dashboard-menu-item">
        <a class="admin-dashboard-menu-item-cart" th:href="@{/addBus}">Add new buses</a>
    </div>
    <div class="admin-dashboard-menu-item">
        <a class="admin-dashboard-menu-item-cart" th:href="@{/editOrDeleteBus}">Edit/delete buses</a>
    </div>
</div>

<div class="routes-container" th:switch="${busRoutes.size()}">

    <div class="case-empty" th:case="'0'"> No available routes!</div>

    <div th:case="*">
        <div class="title-container">
        <h3 class="font-weight-bold">Transdor routes</h3>
        <div class="line-separator-route"></div>
        </div>
        <table>
            <thead>
            <tr>
                <th class="table-padding">Date</th>
                <th class="table-padding">Departure</th>
                <th class="table-padding">Departure station</th>
                <th class="table-padding">Departure time</th>
                <th class="table-padding">Arrival</th>
                <th class="table-padding">Arrival station</th>
                <th class="table-padding">Arrival time</th>
                <th class="table-padding">Distance</th>
                <th class="table-padding">Price</th>
                <th class="table-padding">Available tickets</th>
                <th class="table-padding">Bus ID</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="busRoute : ${busRoutes}">
                <td class="table-padding" th:text="${busRoute.getDepartureDate()}"></td>
                <td class="table-padding" th:text="${busRoute.getDeparture()}"></td>
                <td class="table-padding" th:text="${busRoute.getDepartureStation()}"></td>
                <td class="table-padding" th:text="${busRoute.getDepartureTime()}"></td>
                <td class="table-padding" th:text="${busRoute.getArrival()}"></td>
                <td class="table-padding" th:text="${busRoute.getArrivalStation()}"></td>
                <td class="table-padding" th:text="${busRoute.getArrivalTime()}"></td>
                <td class="table-padding" th:text="${busRoute.getDistance()}"></td>
                <td class="table-padding" th:text="${busRoute.getPrice()}"></td>
                <td class="table-padding" th:text="${busRoute.getNumberOfAvailableTickets()}"></td>
                <td class="table-padding" th:text="${busRoute.getBus().getId()}"></td>
                <td class="edit-delete"><a id="edit-border-route" th:href="@{/edit/{id}(id=${busRoute.id})}">Edit</a></td>
                <td class="edit-delete"><a id="delete-border-route" th:href="@{/delete/{id}(id=${busRoute.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <div class="line-separator-route routes-sep"></div>
    </div>

</div>
</body>