<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> TransDor</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link href="https://www.w3schools.com/w3css/3/w3.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
          rel="stylesheet"
          type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"
            type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

<div class="road-background">
    <div class="navigation-container" th:fragment="navigation">
        <div class="navibar">
            <img alt="memorynotfound logo" class="logo-style" th:src="@{/img/transdor.png}"/>
            <a th:href="@{/}">Home</a>
            <a href="#news">Routes</a>
            <a th:href="@{/company}">Company</a>
            <a href="#news">Help</a>
            <div class="navigation-item">
                <a sec:authorize="isAnonymous()" th:href="@{login}">Log In/Sign Up</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/profile}">My Profile</a>
            </div>
        </div>
    </div>

    <div>.</div>

    <!-- Search section-->
    <div class="search-container">
        <div id="search-border">
            <form action="#" method="get" th:action="@{/search}" th:object="${busRoute}"
                  xmlns:th="http://www.w3.org/1999/xhtml">

                <div class="d-inline">
                    <label for="departure">From </label>
                    <input id="departure" th:field="*{departure}" type="text">
                    <span class="error-message" th:errors="*{departure}"
                          th:if="${#fields.hasErrors('departure')}"></span>
                </div>

                <div class="d-inline">
                    <label for="arrival">To </label>
                    <input id="arrival" th:field="*{arrival}" type="text">
                    <span th:errors="*{arrival}" th:if="${#fields.hasErrors('arrival')}"></span>
                </div>

                <div class="d-inline" th:fragment="date">
                    <label for="departureDate">Date</label>
                    <div class='group-for-date' id="datepicker">
                        <input autocomplete="off" class="datepicker" id="departureDate" th:field="*{departureDate}" type="text">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span th:errors="*{departureDate}" th:if="${#fields.hasErrors('departureDate')}"></span>
                    </div>
                </div>

                <div class="d-inline">
                    <input class="btn btn-success" name="searchBtn" type="submit" value="Search">
                </div>
            </form>
        </div>
    </div>
    <div>.</div>

</div>

<!-- 3 Sections Rute/Curse/Bagaje -->
<div class="announcements ">
    <div class="item-img">
        <img alt="Random Name" style="width:25%" th:src="@{/img/bus%20logo.png}">
        <div class="font-weight-bold">Comfort on board</div>
        <div>Our buses are equipped with large and comfortable seats, a toilet, Wi-Fi and power outlets.</div>
    </div>
    <div class="item-img delay">
        <img alt="Random Name" style="width:25%" th:src="@{/img/bus%20logo2.png}">
        <div class="font-weight-bold">No delays</div>
        <div>Our passengers are our priority and punctuality is our strong point.</div>
    </div>
    <div class="item-img luggage">
        <img alt="Random Name" style="width:25%" th:src="@{/img/bus%20logo3.png}">
        <div class="font-weight-bold">Luggage included</div>
        <div>Our buses have a separate place for luggage.
            Luggage safety is guaranteed
        </div>
    </div>
</div>

<script type="text/javascript">

$('.datepicker').datepicker({
    startDate: new Date()
});


</script>

</body>
</html>

