<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Tickets</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/myprofile.css}">
    <link rel="stylesheet" th:href="@{/css/tickets.css}">
    <link href="https://www.w3schools.com/w3css/3/w3.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>

<body>
<div th:insert="home-page.html :: navigation"></div>


<section class="profile-container">

    <div class="user-dashboard-menu">
        <ul class="user-dashboard-menu-items">
            <li class="user-dashboard-menu-item">
                <a class="user-dashboard-menu-item-user" th:href="@{/profile}">My profile</a>
            </li>
            <li class="user-dashboard-menu-item">
                <a class="user-dashboard-menu-item-cart" th:href="@{/mytickets}">My tickets</a>
            </li>
            <li class="user-dashboard-menu-item">
                <a class="user-dashboard-menu-item-admin" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/administration}">Administration</a>
            </li>
            <li class="user-dashboard-menu-item">
                <a class="user-dashboard-menu-item-logout logout-element" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
    <div class="line-separator"></div>
    <div class="user-dashboard-content">
        <div class="user-dashboard-title">My tickets</div>
        <div  class="scroll-down">
        <div  th:each="ticket : ${tickets}">
            <div>

                    <a>Date</a>
                    <a th:text="${ticket.getDepartureDate()}"></a>
                </div>

                <div>
                    <a>Departure/Arrival</a>
                    <a th:text="${ticket.getDepartureTime()}"></a>
                    <a>-</a>
                    <a th:text="${ticket.getDeparture()}"></a>
                    <a>,</a>
                    <a th:text="${ticket.getDepartureStation()}"></a>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>