<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Tickets</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/myprofile.css}">
    <link rel="stylesheet" th:href="@{/css/tickets.css}">
    <link href="https://www.w3schools.com/w3css/3/w3.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>

<body>
<div th:insert="home-page.html :: navigation"></div>


<section class="profile-container">

    <div class="user-dashboard-menu">
        <ul class="user-dashboard-menu-items">
            <li class="user-dashboard-menu-item">
                <a class="user-dashboard-menu-item-user" th:href="@{/profile}">My profile</a>
            </li>
            <li class="user-dashboard-menu-item">
                <a class="user-dashboard-menu-item-cart" th:href="@{/mytickets}">My tickets</a>
            </li>
            <li class="user-dashboard-menu-item">
                <a class="user-dashboard-menu-item-admin" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:href="@{/administration}">Administration</a>
            </li>
            <li class="user-dashboard-menu-item">
                <a class="user-dashboard-menu-item-logout logout-element" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
    <div class="line-separator"></div>
    <div class="user-dashboard-content">
        <div class="user-dashboard-title">My tickets</div>

        <div class="tickets-container" th:switch="${tickets.size()}">

            <div class="case-empty-message " th:case="'0'">You don't have tickets yet!</div>

            <div th:case="*">

                <div th:each="ticket : ${tickets}">
                    <div class="ticket-container">
                        <div class="margin-items">
                            <a class="font-weight-bold">Date</a>
                            <a th:text="${ticket.getDepartureDate()}"></a>
                        </div>

                        <div class="margin-items">
                            <a class="font-weight-bold">Departure/Arrival</a>
                            <a th:text="${ticket.getDepartureTime()}"></a>
                            <a>-</a>
                            <a th:text="${ticket.getDeparture()}"></a>
                            <a>,</a>
                            <a th:text="${ticket.getDepartureStation()}"></a>
                            <a>→</a>
                            <a th:text="${ticket.getArrivalTime()}"></a>
                            <a>-</a>
                            <a th:text="${ticket.getArrival()}"></a>
                            <a>,</a>
                            <a th:text="${ticket.getArrivalStation()}"></a>
                        </div>
                        <div class="margin-items">
                            <a class="font-weight-bold">Number of tickets</a>
                            <a th:text="${ticket.getDetails().getQuantity()}"></a>
                        </div>
                        <div class="total-container">
                            <a class="font-weight-bold" id="total-item-border">Total</a>
                            <a class="total-item" th:text="${ticket.getDetails().getTotal()}"></a>
                            <i class="price-width fas fa-euro-sign"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
</body>
</html>