<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div th:switch="${busRoutes}" xmlns:th="http://www.w3.org/1999/xhtml">
            <h2 th:case="null">No available routes!</h2>
            <div th:case="*">
                <h2>Available routes with bus</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Plecare</th>
                            <th>Sosire</th>
                            <th>Ora de plecare</th>
                            <th>Ora de sosire</th>
                            <th>Distanta</th>
                            <th>Pret</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="route : ${busRoutes}">
                            <td th:text="${route.getDeparture()+route.getDepartureStation()}"></td>
                            <td th:text="${route.getArrival()+route.getArrivalStation()}"></td>
                            <td th:text="${route.getDepartureTime()}"></td>
                            <td th:text="${route.getDepartureDate()}"></td>
                            <td th:text="${route.getDistance()}"></td>
                            <td th:text="${route.getPrice()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form>
                <input type="submit" value="All Routes" name="showAll">
                <input type="submit" value="Back" name="backBtn">
            </form>


        </div>
    </body>